<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Sayfası</title>
    <style>
        .mesaj-gonderen {
            /* Karşı taraftan gelen mesajları stillemek için kullanılabilir */
            /* Örnek olarak: sağa hizala */
            text-align: right;
        }
    </style>
</head>
<body>
  
    <p><%= sohbet_edilen_kisi %></p>
    <h1>Mesajlar</h1>
    <% yazilar_sql.forEach(function(mesaj) { %>
        <% if(mesaj.gonderen === sohbet_edilen_kisi) { %>
            <!-- Kullanıcı tarafından gönderilen mesaj -->
            <div>
                <p><strong><%= mesaj.gonderen %>:</strong> <%= mesaj.yazi %></p>
            </div>
        <% } else { %>
            <!-- Karşı taraftan gelen mesaj -->
            <div class="mesaj-gonderen">
                <p><strong><%= mesaj.gonderen %>:</strong> <%= mesaj.yazi %></p>
            </div>
        <% } %>
    <% }); %>


    <form action="/mesaj-gonder" method="POST" >
        <input type="hidden" name="sohbet_key" id="sohbet_key" value="<%= sohbet_key %>">
        <input type="hidden"  id="gonderen" name="gonderen" value="<%= kullanici %>">
        <input type="hidden"  id="alici" name="alici" value="<%= sohbet_edilen_kisi %>">
        <input type="text" name="yazi"  id="yazi"placeholder="Mesajınızı buraya yazın">
        <button type="submit">Gönder</button>
    </form>
    
  

    </script>
   
    
</body>
</html>
